@{
    ViewBag.Title = "Confirmation";
}
<div style="float:left; width:100%; height:60px;padding-top:10px;">
    <div style="float:left; width:50%; color:#a82001">
        <h3>@ViewBag.Title</h3>
    </div>
</div>
<hr />
<br />
<div>
    <hr />
    <p>
        Please check your email to reset your password.
    </p>
    <br />  
</div>
	
